{% extends "layouts/main.html" %}

{% block content %}
<div id="content-header" class="my-4 mx-4 flex justify-between">
    <h1 class="text-2xl">Asset Type Edit</h1>
    <div class="space-x-2">
        <a class="btn btn-sm" href="javascript:history.back()">Back</a>
        <button class="btn btn-sm btn-primary" hx-on:click="uploadForm()">Save</button>
    </div>
</div>
<div id="content-profile" class="mx-4">
    <form id="crud_form" action="/asset_types/{{asset_type.id}}/edit" method="post" class="form-control w-full" hx-encoding="multipart/form-data"  hx-boost="true" hx-swap="outerHTML" hx-target-400="#global_alert_message">
        <div class="mx-4 mb-4">
            <div class="avatar mb-4">
                <div class="w-28 rounded">
                    <img 
                      id="content_picture"
                      alt="content image"
                      src='{{asset_type.picture.as_deref().unwrap_or("")}}'
                      referrerpolicy="no-referrer" />
                </div>
            </div>
            <label class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">*Change example image</span>
                </div>
                <input id="picture" name="picture" type="file" accept="image/*" hx-trigger="none" hx-on:change="convertImage(event)" class="file-input file-input-sm file-input-bordered w-full max-w-xs" />
            </label>
        </div>
        <div class=" mx-4 md:grid grid-cols-12 gap-3 divide-y">
            <div class="label col-span-6">
                <div class="flex gap-12 flex-grow">
                    <span class="text-lg label-text font-light">Brand</span>
                    <input id="brand" name="brand" type="text" value="{{ asset_type.brand }}" class="input input-bordered w-full" required/>
                </div>
            </div>
            <div class="label col-span-6">
                <div class="flex gap-12 flex-grow">
                    <span class="text-lg label-text font-light">Model</span>
                    <input id="model" name="model" type="text" value="{{ asset_type.model }}" class="input input-bordered w-full" required/>
                </div>
            </div>
            <div class="label col-span-6">
                <div class="flex gap-12 flex-grow">
                    <span class="text-lg label-text font-light">Description</span>
                    <input id="description" name="description" type="text" value='{{ asset_type.description.as_deref().unwrap_or("") }}' class="input input-bordered w-full" required/>
                </div>
            </div>
            <div class="label col-span-6">
                <div class="flex gap-12 flex-grow">
                    <span class="text-lg label-text font-light">Cost</span>
                    <input id="cost" name="cost" type="text" value='{{ asset_type.cost.as_deref().unwrap_or("") }}' class="input input-bordered w-full" required/>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    const uform = document.querySelector("#crud_form");
    const uimage = document.querySelector("#content_picture");
    const ubrand = document.querySelector("#brand");
    const umodel = document.querySelector("#model");
    const udescrip = document.querySelector("#description");
    const ucost = document.querySelector("#cost");
    var image_file;

    function convertImage(event) {
        if (event.target.files.length > 0) {
            let src = URL.createObjectURL(event.target.files[0]);
            let filename = event.target.files[0].name;
            
            // convert  image to canvas
            let canvas = document.createElement("canvas");
            let ctx = canvas.getContext("2d");

            let userImage = new Image();
            userImage.src = src;

            userImage.onload = function() {
                // resize image
                let [w, h] = calculate_resolution(userImage.width, userImage.height, 1920, 1080);

                canvas.width = w;
                canvas.height = h;
                ctx.drawImage(userImage, 0, 0, userImage.width, userImage.height, 0, 0, canvas.width, canvas.height);

                // convert to webp
                let webpImage = canvas.toDataURL("image/webp", 0.5);
                uimage.src = webpImage;

                let nfilename = changeFileExtension(filename, "webp");
                let blob = dataURItoBlob(webpImage);
                image_file = new File([blob], nfilename, { type: "image/webp", });
            }
        }
    }

    function uploadForm() {
        if (uform.reportValidity() === false) {
            return;
        }

        if (image_file == null) {
            htmx.ajax("POST", uform.action, { 
                //target: "#crud_form",
                swap:'outerHTML',
                source: "#crud_form",
                values: {
                    brand: ubrand.value,
                    model: umodel.value,
                    description: udescrip.value,
                    cost: ucost.value,
                }
            })
        } else {
            htmx.ajax("POST", uform.action, { 
                //target: "#crud_form",
                swap:'outerHTML',
                source: "#crud_form",
                values: {
                    picture: image_file,
                    brand: ubrand.value,
                    model: umodel.value,
                    description: udescrip.value,
                    cost: ucost.value,
                }
            })
        }
    }
</script>
{% endblock %}