{% extends "layouts/main.html" %}

{% block content %}
    <div id="content-header" class="mt-4 mx-4 flex justify-between">
        <div class="space-x-2">
          <h1 class="text-2xl inline-block mb-2">Asset Items</h1>
          <form id="table_filter"
            hx-get="/asset_items"
            hx-trigger="input changed delay:500ms from:#table_search, startProcessing"
            hx-on:htmx:before-request="htmx.find('#table_search').dataset.value = htmx.find('#table_search').value"
            hx-swap="outerHTML"
            hx-select="#table_body"
            hx-target="#table_body"
            hx-target-400="#global_alert_message"
          >
            <input class="input input-bordered input-sm inline-block"
              id="table_search"
              name="search"
              type="search"
              class="grow"
              autocomplete="off"
              placeholder="Search"
              data-value=""
            />
            <input id="table_sort" name="sort" type="hidden" data-value=""/>
            <input id="table_order" name="order" type="hidden" data-value=""/>
          </form>
        </div>
        <div class="space-x-2">
            <a href="/asset_items/new" class="btn btn-sm">Add New</a>
            <a href="/asset_items/imports/new" class="btn btn-sm">Import</a>
        </div>
    </div>
    <div id="content-body" class="overflow-x-auto">
        <table id="table" class="table">
            <!-- head -->
            <thead>
              <tr id="table_header_row">
                <th hx-on:click="sort(this)" class="hover:border-b-2 cursor-pointer"  data-name="asset_id">Asset ID <span name="header_sort" class="px-2"></span></th>
                <th hx-on:click="sort(this)" class="hover:border-b-2 cursor-pointer"  data-name="name">Name <span name="header_sort" class="px-2"></span></th>
                <th>Description <span name="header_sort"></span></th>
                <th hx-on:click="sort(this)" class="hover:border-b-2 cursor-pointer"  data-name="brand">Brand <span name="header_sort" class="px-2"></span></th>
                <th hx-on:click="sort(this)" class="hover:border-b-2 cursor-pointer"  data-name="model">Model <span name="header_sort" class="px-2"></span></th>
                <th hx-on:click="sort(this)" class="hover:border-b-2 cursor-pointer"  data-name="serial_number">Serial # <span name="header_sort" class="px-2"></span></th>
              </tr>
            </thead>
            <tbody id="table_body">
              {% for asset_item in asset_items %}
              <tr class="hover cursor-pointer" hx-get="/asset_items/{{asset_item.id}}" hx-target="#content" hx-swap="outerHTML" hx-push-url="true" hx-select="#content">
                <td>{{asset_item.asset_id.as_deref().unwrap_or("")}}</a></td> 
                <td>{{asset_item.name.as_deref().unwrap_or("")}}</td>                
                <td>{{asset_item.description.as_deref().unwrap_or("")}}</td>
                <td>{{asset_item.brand.as_deref().unwrap_or("")}}</td> 
                <td>{{asset_item.model.as_deref().unwrap_or("")}}</td> 
                <td>{{asset_item.serial_number.as_deref().unwrap_or("")}}</td> 
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    <script>
      function sort(event) {
          let selected_sort_icon = htmx.findAll(event, "span")[0];
          let selected_sort_icon_value = selected_sort_icon.innerHTML;
          let selected_row_name = event.dataset.name;
      
          let header_rows = htmx.findAll(htmx.find('#table_header_row'), "th")
          for(let i = 0; i < header_rows.length; i++) {
              if (selected_row_name === header_rows[i].dataset.name) {
                  if (selected_sort_icon_value === '↑') {
                      header_rows[i].getElementsByTagName('span')[0].innerHTML = '';
                      htmx.find('#table_sort').value = '';
                      htmx.find('#table_sort').dataset.value = '';

                      htmx.find('#table_order').value = '';
                      htmx.find('#table_order').dataset.value = '';
                  } else if (selected_sort_icon_value === '↓') {
                      header_rows[i].getElementsByTagName('span')[0].innerHTML = '↑';
                      htmx.find('#table_sort').value = selected_row_name;
                      htmx.find('#table_sort').dataset.value = selected_row_name;

                      htmx.find('#table_order').value = 'ASC';
                      htmx.find('#table_order').dataset.value = 'ASC';
                  } else {
                      header_rows[i].getElementsByTagName('span')[0].innerHTML = '↓';
                      htmx.find('#table_sort').value = selected_row_name;
                      htmx.find('#table_sort').dataset.value = selected_row_name;

                      htmx.find('#table_order').value = 'DESC';
                      htmx.find('#table_order').dataset.value = 'DESC';
                  }
              } else {
                  header_rows[i].getElementsByTagName('span')[0].innerHTML = '';
              }
          }

          htmx.trigger('#table_filter', 'startProcessing');
      }

      htmx.onLoad(function (el) {
       let table_search = htmx.find('#table_search');
       if (table_search != null) {
        table_search.value = table_search.dataset.value;
       }

       let table_sort = htmx.find('#table_sort');
       if (table_sort != null) {
        table_sort.value = table_sort.dataset.value;
       }

       let table_order = htmx.find('#table_order');
       if (table_order != null) {
        table_order.value = table_order.dataset.value;
       }


    })
  </script>
{% endblock %}
