{% extends "layouts/main.html" %}

{% block content %}
    <div id="content-header" class="mt-4 mx-4 flex justify-between">
        <div class="space-x-2">
          <h1 class="text-2xl inline-block">Asset Types</h1>
          <input class="input input-bordered input-sm inline-block"
            id="search"
            name="search"
            type="search"
            class="grow"
            value="{{filter.search}}"
            autocomplete="off"
            placeholder="Search"
            hx-boost="true"
            hx-get="/asset_types"
            hx-trigger="input changed delay:500ms, search" 
            hx-swap="outerHTML"
            hx-select="#search"
            hx-select-oob="#search_results"
            hx-replace-url="true"
          />
        </div>
        <div class="space-x-2">
            <a href="/asset_types/new" class="btn btn-sm">Add New</a>
            <a href="/asset_types/imports/new" class="btn btn-sm">Import</a>
        </div>
    </div>
    <div id="content-list" class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
              <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Description</th>
                <th>Cost</th>
              </tr>
            </thead>
            <tbody id="search_results">
              {% for asset_type in asset_types %}
              <tr class="hover cursor-pointer" hx-on:click="window.location.href = '/asset_types/{{asset_type.id}}'">
                  <td>{{asset_type.brand}}</td>
                  <td>{{asset_type.model}}</td>
                  <td>{{asset_type.description.as_deref().unwrap_or("")}}</td>
                  <td>{{asset_type.cost.as_deref().unwrap_or("")}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}
