{% extends "layouts/main.html" %}

{% block content %}
<div id="content_header" class="my-4 mx-4 flex justify-between">
    <h1 class="text-2xl">Asset Type</h1>
    <div class="space-x-2">
        <a class="btn btn-sm" href="javascript:history.back()">Back</a>
        <button class="btn btn-sm" onclick="delete_modal.showModal()">Delete</button>
        <dialog id="delete_modal" class="modal">
            <div class="modal-box">
                <h3 class="text-lg font-bold">Permanently Delete Asset Types</h3>
                <p class="py-4">Are you sure?</p>
                <div class="modal-action justify-between px-1">
                    <button class="btn btn-sm btn-error" hx-delete="/asset_types/{{asset_type.id}}">Delete</button>
                    <form method="dialog">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn btn-sm">Close</button>
                    </form>
                </div>
            </div>
          </dialog>
        <a class="btn btn-sm btn-info" href="/asset_types/{{asset_type.id}}/edit">Edit</a>
    </div>
</div>
<div id="content_view" class="mx-4">
    <div class="mx-4 mb-4">
        <div class="avatar mb-4">
            <div class="w-28 rounded">
                <img 
                  id="preview_picturee"
                  alt="profile image"
                  src='{{asset_type.picture.as_deref().unwrap_or("")}}'
                  referrerpolicy="no-referrer" />
            </div>
        </div>
    </div>
    <div class=" mx-4 md:grid grid-cols-12 gap-3 ">
        <div class="label col-span-6 border-b-2">
            <div class="flex gap-12">
                <span class="text-lg label-text font-light">Brand</span>
                <span class="text-lg label-text select-all">{{asset_type.brand}}</span>
            </div>
        </div>
        <div class="label col-span-6 border-b-2">
            <div class="flex gap-12">
                <span class="text-lg label-text font-light">Model</span>
                <span class="text-lg label-text select-all">{{asset_type.model}}</span>
            </div>
        </div>
        <div class="label col-span-6 border-b-2">
            <div class="flex gap-12">
                <span class="text-lg label-text font-light">Description</span>
                <span class="text-lg label-text select-all">{{asset_type.description.as_deref().unwrap_or("")}}</span>
            </div>
        </div>
        <div class="label col-span-6 border-b-2">
            <div class="flex gap-12">
                <span class="text-lg label-text font-light">Cost</span>
                <span class="text-lg label-text select-all">{{asset_type.cost.as_deref().unwrap_or("")}}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}