{% extends "layouts/main.html" %}

{% block content %}
<script>
    function previewPhoto(event) {
        var reader = new FileReader();
        reader.onload = function(){
        var output = document.getElementById('content_picture');
        output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
<div id="content-header" class="my-4 mx-4 flex justify-between">
    <h1 class="text-2xl">New Asset-Type</h1>
    <div class="space-x-2">
        <a class="btn btn-sm" href="javascript:history.back()">Back</a>
        <button class="btn btn-sm btn-primary" hx-on:click="uploadForm()">Save</button>
    </div>
</div>
<div id="content-profile" class="mx-4 flex">
    <form id="crud_form" hx-boost="true" action="/asset_types/new" class="form-control w-full" method="post" hx-encoding="multipart/form-data" hx-swap="outerHTML" hx-target-400="#global_alert_message">
        <div class="mx-4 mb-4">
            <div class="w-16 rounded-full mb-1">
                <img 
                  id="content_picture"
                  alt="content image"
                  src="/static/images/empty-image.svg"
                  referrerpolicy="no-referrer" />
            </div>
            <label class="form-control w-full max-w-xs">
                <div class="label">
                  <span class="label-text">*Example image of asset type</span>
                </div>
                <input id="picture" name="picture" type="file" accept="image/*" hx-trigger="none" hx-on:change="convertImage(event)" class="file-input file-input-sm file-input-bordered w-full max-w-xs" />
            </label>
        </div>
        <div class=" mx-4 md:grid grid-cols-12 gap-3">
            <div class="label col-span-5">
                <span class="label-text">Brand</span>
            </div>
            <div class="col-span-7">
                <input id="brand" name="brand" type="text" class="input input-bordered input-sm w-full" required/>
            </div>
            <div class="label col-span-5">
                <span class="label-text">Model</span>
            </div>
            <div class="col-span-7">
                <input id="model" name="model" type="text" class="input input-bordered input-sm w-full" required/>
            </div>
            <div class="label col-span-5">
                <span class="label-text">Description</span>
            </div>
            <div class="col-span-7">
                <input id="description" name="description" type="text" class="input input-bordered input-sm w-full"/>
            </div>
            <div class="label col-span-5">
                <span class="label-text">Cost</span>
            </div>
            <div class="col-span-7">
                <input id="cost" name="cost" type="text" class="input input-bordered input-sm w-full"/>
            </div>
        </div>
    </form>
</div>
<script>
    const uform = document.querySelector("#crud_form");
    const uimage = document.querySelector("#content_picture");
    const ubrand = document.querySelector("#brand");
    const umodel = document.querySelector("#model");
    const udescrip = document.querySelector("#description");
    const ucost = document.querySelector("#cost");
    var image_file;

    function convertImage(event) {
        if (event.target.files.length > 0) {
            let src = URL.createObjectURL(event.target.files[0]);
            let filename = event.target.files[0].name;
            
            // convert  image to canvas
            let canvas = document.createElement("canvas");
            let ctx = canvas.getContext("2d");

            let userImage = new Image();
            userImage.src = src;

            userImage.onload = function() {
                // resize image
                let [w, h] = calculate_resolution(userImage.width, userImage.height, 1920, 1080);

                canvas.width = w;
                canvas.height = h;
                ctx.drawImage(userImage, 0, 0, userImage.width, userImage.height, 0, 0, canvas.width, canvas.height);

                // convert to webp
                let webpImage = canvas.toDataURL("image/webp", 0.5);
                uimage.src = webpImage;

                let nfilename = changeFileExtension(filename, "webp");
                let blob = dataURItoBlob(webpImage);
                image_file = new File([blob], nfilename, { type: "image/webp", });
            }
        }
    }

    function uploadForm() {
        if (uform.reportValidity() === false) {
            return;
        }

        if (image_file == null) {
            htmx.ajax("POST", "/asset_types/new", { 
                target: "#profile",
                swap:'outerHTML',
                source: "#profile",
                values: {
                    brand: ubrand.value,
                    model: umodel.value,
                    description: udescrip.value,
                    cost: ucost.value,
                }
            })
        } else {
            htmx.ajax("POST", "/asset_types/new", { 
                target: "#profile",
                swap:'outerHTML',
                source: "#profile",
                values: {
                    picture: image_file,
                    brand: ubrand.value,
                    model: umodel.value,
                    description: udescrip.value,
                    cost: ucost.value,
                }
            })
        }
    }
</script>
{% endblock %}