{% extends "layouts/main.html" %}

{% block content %}
    <div id="content-header" class="mt-4 mx-4 flex justify-between">
        <div class="space-x-2">
          <h1 class="text-2xl inline-block mb-2">Asset Items</h1>
          <form id="table_filter"
            hx-boost="true"
            method="get"
            hx-get="/asset_items"
            hx-trigger="input changed delay:500ms from:#table_search, startProcessing"
            hx-swap="outerHTML"
            hx-select="#table_filter"
            hx-select-oob="#table"
            hx-replace-url="true"
            hx-target-400="#global_alert_message"
          >
            <input class="input input-bordered input-sm inline-block"
              id="table_search"
              name="search"
              type="search"
              class="grow"
              data-value=""
              autocomplete="off"
              placeholder="Search"
            />
            <input id="table_sort" name="sort" type="hidden" data-value=""/>
            <input id="table_order" name="order" type="hidden" data-value=""/>
          </form>
        </div>
        <div class="space-x-2">
            <a href="/asset_items/new" class="btn btn-sm">Add New</a>
            <a href="/asset_items/imports/new" class="btn btn-sm">Import</a>
        </div>
    </div>
    <div id="content-body" class="overflow-x-auto">
        <table id="table" class="table">
            <!-- head -->
            <thead>
              <tr id="table_header_row">
                <th hx-on:click="sort(this)" class="hover:border-b-2 cursor-pointer"  data-name="asset_id">Asset ID <span name="header_sort" class="px-2"></span></th>
                <th hx-on:click="sort(this)" class="hover:border-b-2 cursor-pointer"  data-name="name">Name <span name="header_sort" class="px-2"></span></th>
                <th>Description <span name="header_sort"></span></th>
                <th hx-on:click="sort(this)" class="hover:border-b-2 cursor-pointer"  data-name="brand">Brand <span name="header_sort" class="px-2"></span></th>
                <th hx-on:click="sort(this)" class="hover:border-b-2 cursor-pointer"  data-name="model">Model <span name="header_sort" class="px-2"></span></th>
                <th hx-on:click="sort(this)" class="hover:border-b-2 cursor-pointer"  data-name="serial_number">Serial # <span name="header_sort" class="px-2"></span></th>
              </tr>
            </thead>
            <tbody id="table_body">
              {% for asset_item in asset_items %}
              <tr class="hover cursor-pointer" hx-on:click="triggerAnchor(this)">
                <td><a href="/asset_items/{{asset_item.id}}" hx-boost="true">{{asset_item.asset_id.as_deref().unwrap_or("")}}</a></td> 
                <td>{{asset_item.name.as_deref().unwrap_or("")}}</td>                
                <td>{{asset_item.description.as_deref().unwrap_or("")}}</td>
                <td>{{asset_item.brand.as_deref().unwrap_or("")}}</td> 
                <td>{{asset_item.model.as_deref().unwrap_or("")}}</td> 
                <td>{{asset_item.serial_number.as_deref().unwrap_or("")}}</td> 
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    <script>
      function sort(event) {
          let selected_sort_icon = htmx.findAll(event, "span")[0];
          let selected_sort_icon_value = selected_sort_icon.innerHTML;
          let selected_row_name = event.dataset.name;
      
          let header_rows = htmx.findAll(htmx.find('#table_header_row'), "th")
          for(let i = 0; i < header_rows.length; i++) {
              if (selected_row_name === header_rows[i].dataset.name) {
                  if (selected_sort_icon_value === '↑') {
                      header_rows[i].getElementsByTagName('span')[0].innerHTML = '';
                      htmx.find('#table_sort').value = '';
                      htmx.find('#table_order').value = '';

                  } else if (selected_sort_icon_value === '↓') {
                      header_rows[i].getElementsByTagName('span')[0].innerHTML = '↑';
                      htmx.find('#table_sort').value = selected_row_name;
                      htmx.find('#table_order').value = 'ASC';
                  } else {
                      header_rows[i].getElementsByTagName('span')[0].innerHTML = '↓';
                      htmx.find('#table_sort').value = selected_row_name;
                      htmx.find('#table_order').value = 'DESC';
                  }
              } else {
                  header_rows[i].getElementsByTagName('span')[0].innerHTML = '';
              }
          }

          //htmx.trigger('#table_filter', 'startProcessing');
      }

      function triggerAnchor(el) {
        //console.log("click");
       // let td = htmx.findAll(el, "td")[0];
       // let a = htmx.findAll(td, "a")[0];
       // htmx.trigger(a, 'click'); 
      }
  </script>
{% endblock %}
