<div id="profile_content" class="px-4 pt-2">
  <div class="max-w-xl w-full">
    <h2 class="mb-4 text-2xl font-bold text-base-content">My Settings</h2>
    <form action="#" class="form-control gap-2">
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Email</span>
        </div>
        <input id="email" type="email" value="{{ user.email }}" class="input input-bordered input-sm w-full"
          disabled />
      </label>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">First Name</span>
        </div>
        <input id="first_name" type="text" value="{{ user.given_name }}" class="input input-bordered input-sm w-full" />
      </label>
      <label class="form-control w-full"></label>
        <div class="label">
          <span class="label-text">Last Name</span>
        </div>
        <input id="last_name" type="text" value="{{ user.family_name }}" class="input input-bordered input-sm w-full" />
      </label>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Role</span>
        </div>
        <select id="role_id" class="select select-sm select-bordered select-disabled" hx-trigger="load" hx-get="/settings/roles" hx-swap="innerHTML">
          <option disabled selected>Role</option>
        </select>
      </label>
      <div class="flex items-start gap-2 mt-4">
        <button type="submit" class="btn btn-primary btn-md">
          Save
        </button>
        <button type="button" class="btn btn-md btn-disabled">
          Update Password
        </button>
      </div>
    </form>
  </div>
</div>