{% extends "layouts/main.html" %}

{% block content %}
    <div id="content-header" class="mt-4 mx-4 flex justify-between">
        <h1 class="text-2xl">Users</h1>
        <div class="space-x-2">
            <a href="/settings/users/new" class="btn btn-sm">Create new user</a>
            <a href="#" class="btn btn-sm btn-disabled">Import users</a>
        </div>
    </div>
    <div id="content-list" class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
              <tr>
                <th>Login</th>
                <th>User Name</th>
                <th>Role</th>
                <th>Last Login</th>
              </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr class="hover">
                        <td>{{user.email}}</td>
                        <td>{{user.given_name}} {{user.family_name}}</td>
                        <td>{{user.role}}</td>
                        <td>10/08/2024 03:27 PM</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}