{% extends "layouts/main.html" %}

{% block content %}
<div id="content-header" class="my-4 mx-4 flex justify-between">
    <h1 class="text-2xl">User Configuration</h1>
    <div class="space-x-2">
        <a class="btn btn-sm" href="javascript:history.back()">Back</a>
        {% if logged_in_user.id != user.id  %}
            <button class="btn btn-sm" onclick="delete_modal.showModal()">Delete</button>
            <dialog id="delete_modal" class="modal">
                <div class="modal-box">
                    <h3 class="text-lg font-bold">Permanently Delete {{ user.email }} User</h3>
                    <p class="py-4">Are you sure?</p>
                    <div class="modal-action justify-between px-1">
                        <button class="btn btn-sm btn-error" hx-post="/settings/users/{{user.id}}/delete">Delete</button>
                        <form method="dialog">
                            <!-- if there is a button in form, it will close the modal -->
                            <button class="btn btn-sm">Close</button>
                        </form>
                    </div>
                </div>
              </dialog>
        {% endif %}
        <button class="btn btn-sm btn-primary" type="submit" form="profile">Save</button>
        <a class="btn btn-sm btn-primary btn-disabled" href="#">Reset Password</a>
    </div>
</div>
<div id="content-profile-image" class="mx-4 mb-4">
    <div class="w-16 rounded-full">
        <img
          alt="profile image"
          src="{{user.picture}}"
          referrerpolicy="no-referrer" />
    </div>
    <input type="file" hx-post="/settings/users/{{user.id}}/change_picture" hx-trigger="changed" class="file-input file-input-sm file-input-bordered w-full max-w-xs" />
</div>
<div id="content-profile" class="mx-4 flex">
    <form id="profile" action="/settings/users/{{user.id}}/edit" class="form-control w-full">
        <div class="md:grid grid-cols-12 gap-3">
            <div class="label col-span-5">
                <span class="label-text">Email</span>
            </div>
            <div class="col-span-7">
                <input id="email" type="email" value="{{ user.email }}" class="input input-bordered input-sm w-full" disabled />
            </div>
            <div class="label col-span-5">
                <span class="label-text">First Name</span>
            </div>
            <div class="col-span-7">
                <input id="given_name" type="text" value="{{ user.given_name }}" class="input input-bordered input-sm w-full" />
            </div>
            <div class="label col-span-5">
                <span class="label-text">Last Name</span>
            </div>
            <div class="col-span-7">
                <input id="family_name" type="text" value="{{ user.family_name }}" class="input input-bordered input-sm w-full" />
            </div>
            <div class="label col-span-5">
                <span class="label-text">Role</span>
            </div>
            <div class="col-span-7">
                {% if logged_in_user.id == user.id  %}
                    <select id="role" class="select select-sm select-bordered select-disabled w-full" hx-trigger="load"
                        hx-get="/settings/roles?selected={{user.role}}" hx-swap="innerHTML">
                    </select>
                {% else %}
                    <select id="role" class="select select-sm select-bordered w-full" hx-trigger="load"
                        hx-get="/settings/roles?selected={{user.role}}" hx-swap="innerHTML">
                    </select>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock %}