<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-store">
    <title>{% block title %}RCPS - Asset Management System{% endblock %}</title>
    <script src="/static/htmx.min.js"></script>
    <script src="/static/response-targets.js"></script>
    <link rel="stylesheet" href="/static/styles/output.css" />
    {% include "partials/favicon.html" %}
</head>

<body hx-ext="response-targets">
    <div id="content">
        {{ navbar }}
        {% if let Some(alert) = alert %}
            {{ alert }}
        {% else -%}
            <div id="global_alert_message"></div>
            </div>
        {%- endif %}
        {% block content %}<p>Placeholder content</p>{% endblock %}
    </div>
  </body>

</html>