<html lang="en" data-theme="light"></html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <script src="/static/htmx.min.js"></script>
    <script src="/static/response-targets.js"></script>
    <link rel="stylesheet" href="/static/styles/output.css" />
    {% include "partials/favicon.html" %}
</head>

<body hx-ext="response-targets">
    {{ navbar }}
    {% if let Some(alert) = alert %}
        {{ alert }}
    {% else -%}
        <div id="global_alert_message"></div>
        </div>
    {%- endif %}
    {{ profile_page }}
</body>

</html>